<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="employeeName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="employeeName" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="employeeTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="employeeTitle" placeholder="Title">
        </div>
    </div>
    <div class="form-group">
        <label for="employeePhone" class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="employeePhone" placeholder="Phone Number">
        </div>
    </div>
    <div>TODO PROJECT</div>
    <div>TODO BUILDING NAME</div>
    <div>TODO OFFICE NUMBER</div>
</form>
