<div class="modal-header">
    <h3>Create Project</h3>
</div>
<form name="createProject" class="form-horizontal" role="form" ng-submit="submit()">
    <div class="form-group">
        <label for="projectName" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="projectName" placeholder="Project Name" ng-model="project.projectName" required>
        </div>
    </div>
    <div class="form-group">
        <label for="teamsDropdown" class="col-sm-2 control-label">Team:</label>
        <div class="col-sm-10">
            <select ng-model="project.team" ng-options="t as t.tname +' - '+ t.managerName for t in teamsView"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="departmentDropdown" class="col-sm-2 control-label">Department:</label>
        <div class="col-sm-10">
            <select ng-model="project.departmentId"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input id="startDate" type="text" class="form-control" data-date-format="mm/dd/yyyy" bs-datepicker placeholder="Start Date" ng-model="project.startDate">
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input id="endDate" type="text" class="form-control" data-date-format="mm/dd/yyyy" bs-datepicker placeholder="End Date" ng-model="project.endDate">
    </div>
    <div class="form-group">
        <label for="budget">Budget:</label>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="budget" type="number" class="form-control" placeholder="Budget" ng-model="project.budget">
            <span class="input-group-addon">000.00</span>
        </div>
    </div>

    <div>{{projectCreateError}}</div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <input type="submit" class="btn primary-btn" value="Create" />
    </div>
</form>